@using MyCourse.Models.ViewModels
@model List<CourseViewModel>
<link rel="stylesheet" href="~/styles.css">

<h1>@ViewBag.Title</h1> 
<hr>

@foreach(CourseViewModel course in Model)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
        <img src="@course.ImagePath" width="50em" height="20em">
         </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <author>@course.Author</author> 
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for (int i = 0; i < 5; i++)
            {
               if (course.Rating >=i)
               {
                 <i class="fa fa-lg fa-star"></i>  
               }
               else if (course.Rating > i-1)
               {
               <i class="fa fa-lg fa-star-half-o"></i>
               }
                else{
                <i class="fa fa-lg fa-star-o"></i>
                }
            }
               
            
             <!--<i class="fa fa-lg fa-star"></i>
             <i class="fa fa-lg fa-star"></i>
             <i class="fa fa-lg fa-star"></i>
                <i class="fa fa-lg fa-star"></i>
                <i class="fa fa-lg fa-star"></i> -->

        </div>
            <div class="col-md-2 price">
            
            @if (course.CurrentPrice.Equals(course.FullPrice))
            {
            @course.CurrentPrice
            }
            else
            {
            @course.CurrentPrice        
            <br><s>@course.FullPrice</s>
            }
            </div>
        <div class="col-md-2">
             <a class="btn btn-primary" asp-action="Detail" asp-controller="Courses" asp-route-id="@course.id">Dettaglio</a> 
        </div>
    </div>
}
            





